.footer{
    min-height: 16rem;
    width: 100%;
    background: linear-gradient(to bottom, #0D0D0D 16%, #771117 100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.6rem;
    gap: 1rem;
    padding-bottom: 0;

    @media(width <= 740px) {
        flex-direction: column;
    }

    &__logo{
        width: 16rem;
        color: var(--color-small-impact);
        font-size: 1rem;
        
        span{
            display: block;
            text-align: center;
        }

        @media (width <= 800px) {
            width: 14rem;
        }
    }

    &__info{
        
    }

    &__links{
        display: flex;
        align-content: space-between;
        justify-content: center;
        padding: 1rem;

        a{
            margin: auto;
            font-size: 1.4rem;
            color: var(--color-small-impact);
            text-decoration: none;
            text-align: center;
            padding: .8rem;
            border-radius: 8px;

            @media(width <= 740px) {
                font-size: 1.2rem;
                padding: .4rem;
            }

            @media(width <= 500px) {
                font-size: 1rem;
            }

            &:hover{
                background-color: rgba(0,0,0,.25);
            }
        }
    }

    &__desc{
        border-radius: 8px 0 0 0;
        padding: .8rem;
        display: flex;
        gap: 2rem;

        img{
            width: 6rem;
        }

        p{
            font-size: .9rem;
            line-height: 1.5;
            color: var(--color-small-impact);
        }
    }
}